// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

// Utils

.hidden {
    display: none !important;
}

// Category select

.cat-select {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: deepskyblue;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 30rem;
        background-color: #fff;
        padding: 3rem;
    }

    &__title {
        font-size: 3rem;
        line-height: 3rem;
        padding-bottom: 3rem;
        text-align: center;
    }

    &__select {
        height: 4rem;
        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
    }

    &__submit {
        height: 4rem;
        font-size: 2rem;
        line-height: 4rem;
        margin-top: 1rem;
        background-color: #075479;
        color: white;
    }
}

// Quiz

.quiz {
    &__container {
        display: grid;
        grid-template-rows: 10rem 1fr;
        grid-template-columns: 30% 70%;
        width: 100vw;
        height: 100vh;
        background-color: deepskyblue;

        @media screen and (max-width: 1100px) {
            grid-template-columns: 25% 75%;
        }

        @media screen and (max-width: 840px) {
            grid-template-columns: 20% 80%;
        }

        @media screen and (max-width: 600px) {
            grid-template-rows: 6rem auto 1fr;
            grid-template-columns: 100%;
        }
    }

    &__title {
        grid-column: span 2;
        font-size: 5rem;
        line-height: 9rem;
        text-align: center;
        background-color: #fff;
        margin: 1rem;
        margin-bottom: 0;

        @media screen and (max-width: 840px) {
            font-size: 3rem;
        }

        @media screen and (max-width: 600px) {
            grid-column: span 1;
            line-height: 5rem;
        }
    }

    &__aside,
    &__main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 1fr);
        grid-gap: 1rem;
        padding: 1rem;
    }

    &__container {
        &--5 {
            .quiz__aside,
            .quiz__main {
                grid-template-rows: repeat(6, 1fr);
            }

            .quiz__aside {
                @media screen and (max-width: 600px) {
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: 5rem;
                }
            }

            .quiz__main {
                @media screen and (max-width: 600px) {
                    grid-template-rows: repeat(5, 1fr) 5rem;
                }
            }

            .quiz__question {
                grid-row: span 5;
            }

            .quiz__question-number,
            .quiz__score,
            .quiz__answer {
                font-size: 4rem;

                @media screen and (max-width: 600px) {
                    font-size: 3rem;
                }
            }
        }

        &--10 {
            .quiz__aside,
            .quiz__main {
                grid-template-rows: repeat(11, 1fr);
            }

            .quiz__aside {
                @media screen and (max-width: 600px) {
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, 5rem);
                }
            }

            .quiz__score {
                @media screen and (max-width: 600px) {
                    grid-column: span 2;
                }
            }

            .quiz__aside {
                @media screen and (max-width: 600px) {
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, 5rem);
                }
            }

            .quiz__question {
                grid-row: span 10;
            }

            .quiz__question-number,
            .quiz__score,
            .quiz__answer {
                font-size: 4rem;

                @media screen and (max-width: 600px) {
                    font-size: 3rem;
                }
            }
        }

        &--15 {
            .quiz__aside,
            .quiz__main {
                grid-template-rows: repeat(16, 1fr);
            }

            .quiz__aside {
                @media screen and (max-width: 600px) {
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(2, 5rem);
                }
            }

            .quiz__main {
                @media screen and (max-width: 600px) {
                    grid-template-rows: repeat(15, 1fr) 5rem;
                }
            }

            .quiz__score {
                @media screen and (max-width: 600px) {
                    grid-column: span 1;
                }
            }

            .quiz__question {
                grid-row: span 15;
            }

            .quiz__question-number,
            .quiz__score,
            .quiz__answer {
                font-size: 2.5rem;

                @media screen and (max-width: 600px) {
                    font-size: 2rem;
                }
            }
        }
    }

    &__aside {
    }

    &__main {
        padding-left: 0;

        @media screen and (max-width: 600px) {
            height: 100%;
            grid-template-rows: 1fr 4rem;
            grid-template-columns: 100%;
            padding: 1rem;
            padding-top: 0;
        }
    }

    &__question-number,
    &__score {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        &--active {
            background-color: yellow;
        }

        &--correct {
            background-color: green;
        }

        &--wrong {
            background-color: red;
        }
    }

    &__question {
        font-size: 4rem;
        text-align: center;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;

        @media screen and (max-width: 600px) {
            grid-row: span 1;
            font-size: 2.5rem;
        }
    }

    &__answer {
        &-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
        }

        background-color: green;
        border: none;
        color: white;

        &:last-child {
            background-color: red;
        }

        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }
}
