$container-width: 1200px;
$text-width: 65ch;
$default-block-padding: 8rem;
$default-grid-gap: 3rem;
$default-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

$red: rgb(206, 29, 47);
$dark-bg: #24252a;
